{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
<div id="main-center">
    <div id="container-input">
        <form>
            <input id="messagebox" type="text" placeholder="Message">
            <input id="recipient" type="text" list="stafflist" placeholder="Recipient">
            <datalist id="stafflist">
                {% for user in staff %}
                <option data-value="{{ user.username }}" value="{{ user.first + ' ' + user.last }}">
                {% endfor %}
            </datalist>
            <button type="button" onclick="onSend()">Send</button>
        </form>
    </div>
    <h2 style="text-align:left">Message Logs</h2>
    <div class="container-messages">

    </div>
</div>
{% endblock %}
