body {
	background-image: url("https://www.freepik.com/free-vector/plant-background_799416.htm");
	background-color: #DAFFA1;
	background-size: 100%;
	font-family: 'Roboto Slab', serif;
	margin: 0px;
}
h1{
	text-align: center;
	color: #0D6C0D;
	font-size: 700%;
	margin: 0px;
	padding-bottom:5px;
}


div{
	margin: 0px;
	border-radius: 0px;
	background-color: #6aaf48;

}


img{
	padding-bottom:10px;
	size: 100px;
}


#hello{
	background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 128, 0, 1));
	position: relative;
	width: 100%;
	height: 10%;
	margin: auto;
	border-top: 100px;
}

#menu{
	text-align: center;
}
p1{
	text-indent: 50%;
}

	
#button{
  background: #34d939;
  background-image: -webkit-linear-gradient(top, #34d939, #0f9408);
  background-image: -moz-linear-gradient(top, #34d939, #0f9408);
  background-image: -ms-linear-gradient(top, #34d939, #0f9408);
  background-image: -o-linear-gradient(top, #34d939, #0f9408);
  background-image: linear-gradient(to bottom, #34d939, #0f9408);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Georgia;
  color: #2c4d00;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

p{
	padding-left: 3%;
	padding-right: 3%;
}
#mainText{
	text-align: center;
	text-indent: 2em;
	margin-left:20%;
	padding-top: 3%;
	padding-bottom: 20%;
	color: rgba(27, 53, 27, 1);
	position: relative;
	width: 60%;
	background: rgba(0,0,0, 0.20);
	
}
#map{
	align-content: center;
	margin: 10%;
	
}
ul{
	list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	background: rgba(0,0,0, .35);
	border: none;
	border-radius: 1px;
	font-family: 'Roboto Slab', serif;	
	padding: 15px 1% 15px 1%;
	text-align: left;
}
li a {
    display: inline;
    color: #ffffff;
    padding: 1% 3%;
    text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	color: #CEFF82;
	text-align: center;
}

ul li{
	display: inline;
	font-size: 15px;
	color: white;
}
/*#hello:hover{
	background-color: #FFDAB9;*/
}
#hello:selection{
	background: orange;
}
